
@media(max-width:1110px){
    .header-inner {
        width: 100%;
    }  
    .main-inner {
        width: 96%;
    }
    .flex {
        flex-wrap: wrap;
    }
    .left-inner {
        width: 100%;
    }
    .about-contents{
        display: block;
    }

    .about-title {
        width: 100%;
    }
    .about-content {
        margin-bottom: 40px;
        margin: auto;
        width: 100%;
        padding-right: 0;
    }
    .about-photo {
        width: 100%;
    }
    .about-content p {
        width: 100%;
        padding-bottom: 40px;
    }
    .news-title {
        width: 100%;
    }
    .news-content {
        width: 100%;
        flex-direction: column;
    }
    .news-text {
        width: 100%;
    }
    .side-image {
        padding-bottom: 30px;
    }
    
}
@media(max-width:699px) {
    .main-inner {
        padding-top: 40px;    
        flex-wrap: wrap;
        width: 91%;
    }
    .header-inner {
        height: 82px;
        margin: 0 auto;
        justify-content: normal;
        align-items: normal;
        display: block;
    }
    .logo {
        font-size: 18px;    
        margin: 20px 0 10px 0;
    }
    .list {
        padding-right: 12px;
    }
    .header-list {
        font-size: 13px;
        margin-left: 15px;
    }
    .header-list li {
        padding-left: 0;
    }

    .left-inner {
        padding-right: 0;
    }
    .about-title {
        width: 100%;
        font-size: 22px;
        border-bottom: 3px solid #1F91BE;
    }
    .about-contents {
        margin: auto;
    }    
    .about {
        padding-bottom: 20px;
        margin: auto;

    }
    .news-title {
        width: 100%;
        font-size: 22px;
        border-bottom: 3px solid #1F91BE;
        margin-bottom: 20px;
    }
    .news-content {
        width: 100%;
    }
    .news-date {
        padding-bottom: 15px;
    }
    .news-text {
        width: 100%;
        margin: auto;
    }
    .btn {
        float: none;
        padding: 13px 39px;
    }
    .btn-ichiran {
        padding-top: 20px;
        text-align: center;
    }
    .side-inner {
        padding-top: 60px;
        width: 100%;
    }
    .side-image {
        margin: auto;
        height: 100%;
        padding-bottom: 20px;
    }
    .subtitle {
        width: 100%;
        font-size: 22px;
        border-bottom: 3px solid #1F91BE;
    }
    .category {
        width: 100%;
    }
    .side-image {
        margin: auto;
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
    }
    .category {
        margin: auto;        
    }
    .subtitle {
        color: #1F91BE;
        font-weight: bold;
        padding-bottom: 9px;
        width: 100%;
        font-size: 22px;
        border-bottom: 3px solid #1F91BE;
        margin-bottom: 20px;
        }
    .category-list li {
        font-size: 14px;
    }
    footer {
        margin-top: 60px; 
    }
    footer p {
        font-size: 10px;
    }

}