li {
    list-style: none;
}
/* header */
.header-inner {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex {
    display: flex;
}

.logo {
    font-size: 31px;
    color: #1F91BE;
    padding-left: 15px;
}
.header-list {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    padding-right: 15px;
}
.header-list li {
    padding-left: 34px;
}
/* main */
.top-image {
    width: 100%;
}
.main-inner {
    height: auto;
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 100px;
}
.left-inner {
    padding-right: 60px;
}
.about {
    padding-bottom: 65px;
}
.about-title {
    color: #1F91BE;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 9px;
    border-bottom: 4px solid #1F91BE;
    width: 700px;
    margin-bottom: 30px;
}
.left {
    padding-right: 60px;
}
.about-photo {
    width: 320px;
}
.about-content p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 27px;
    width: 320px;
}
.news-title {
    color: #1F91BE;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 9px;
    border-bottom: 4px solid #1F91BE;
    width: 700px;
    margin-bottom: 25px;
}
.news-content {
    border-bottom: 1px solid #707070;
    font-size: 14px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 700px;
    justify-content: space-between;
    line-height: 24px;
}
.news-date {
    font-weight: bold;
}
.news-text {
    width: 555px;
}

.btn {
    font-weight: bold;
    float: right;
    border: 2px solid #1F91BE;
    color: #1F91BE;
    padding: 8px 34px;
}
/* side */
.side-inner {
    width: 300px;
    height: auto;
}
.side-image {
    padding-bottom: 30px;
    width: 300px;
    height: 174px;
    display: block;
}
.subtitle {
    color: #1F91BE;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0 9px 0;
    border-bottom: 4px solid #1F91BE;
    margin-bottom: 29px;
}
.category-list li {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    padding-bottom: 15px;
}

/* footer */
footer {
    height: 50px;
    background-color: #C7C7C7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px
 
}
footer p {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
}
